<style>
@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
</style>
*{
	margin: 0;
	
}
body{
    background-image: url(/img/bg.png);
    background-size: 100% 100%;
	background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0px;
    padding: 0;
	border: 0;
}
.name{
    font-family: Great Vibes;
    font-size: 100px;
    color: #F2E394;
    margin-left: 30%;
    margin-top: 250px;
}
.lorem{
    height: 81px;
    width: 1148px;
    font-size: 20px;
    margin: auto;
    color: #ffffff42;
}
.box{
    width: 382px;
    height: 92px;
    border-radius: 24px;
    background-color: #588C7E;
    display: inline-block;
    margin-left: 39%;
    margin-top: 8%;
}
.view{
    font-size: 43px;
    color: white;
    width: 250px;
    margin: 22px auto;
}
.left-bar{
    margin-left: 19px;
    margin-top: 16px;
    width: 40px;
    height: 25px;
    display: inline-block;
}
.right{
    display: inline-block;
    color: white;
    margin-left: 93%;
    font-size: 20px;
}
.middle{
    background-image: url(/img/middle.png);
    position: absolute;
    top: 1100px;
    width: 100%;
    height: 1080px;
}
.top-type{
    font-family: SenzorgaAnhok;
    font-size: 80px;
    color: #F2E394;
    margin: 54px 0 0 745px;
}
.flex{
    margin: 50px 300px;
}
.flex div{
    display: inline-block;
    margin: auto 50px;
}
.type{
    margin-left: 250px;
}
.type div{;
    display: inline-block;
    margin: auto 100px;
}
.lor{
    color: white;
    font-size: 15px;
    width: 260px;
}
.price div{
    display: inline-block;
    color: white;
    font-size: 30px;
    margin: auto 200px;
}
.price{
    margin-left: 230px;
    margin-top: 30px;
}
.button{
    width: 197px;
    height: 63px;
    border-radius: 13px;
    background-color: white;
    box-shadow: gray 0 3px 10px;
    margin-left: 845px;
    margin-top: 70px;
    color: #D96459;
    font-size: 30px;
    display: inline-block;
}
.view2{
    margin-left: 30px;
    margin-top: 12px;
}
.footer{
    width: 100%;
    height: 459px;
    background-color: #588C7E;
    position: absolute;
    top: 2106px;
}
.fot-menu p{
    display: inline-block;
    margin: 70px 357px 0 200px;
    color: white;
    font-size: 18px;
}
.border-fot{
    display: inline-block;
    width: 100%;
    height: 1px;
    background-color: white;
}
.bottom-bar p{
    color: white;
    font-size: 13px;
    margin: 24px 0 0 200px;
    margin-top: 30px;
}
.bottom-bar{
    display: inline-block;
}
.sign{
    width: 320px;
    position: absolute;
    bottom: 275px;
    left: 770px;
    color: white;
}
.input-filled{
    background-color: white;
    width: 304px;
    height: 42px;
    position: absolute;
    right: 12px;
    top: 80px;
}
.send{
    background-color: #D96459;
    width: 53px;
    height: 27px;
    box-shadow: gray 0 3px 6px;
    border: none;
    border-radius: 10px;
    color: white;
    position: absolute;
    top: 91px;
    left: 239px;
}
.pay-bar img{
    margin: 0 24px 0 0;
}
.pay-bar{
    display: inline-block;
    margin-left: 520px;
    margin-top: 50px;
}
.about p{
    font-size: 13px;
    color: white;
    margin: 24px 0 0 200px;
    margin-top: 30px;
}
.about{
    position: absolute;
    right: 300px;
    bottom: 120px;
}